In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
# pd.options.display.max_rows=100

In [2]:
ds_path = r".\data\GermanyUsedCars.zip"
dfo = pd.read_csv(ds_path, index_col=0)
dfo.columns

Index(['brand', 'model', 'color', 'registration_date', 'year', 'price_in_euro',
       'power_kw', 'power_ps', 'transmission_type', 'fuel_type',
       'fuel_consumption_l_100km', 'fuel_consumption_g_km', 'mileage_in_km',
       'offer_description'],
      dtype='object')

### Data exploration

In [7]:
# dfo.isnull().count()
# dfo.fuel_type.value_counts()
# dfo.color.value_counts()
# dfo.color.isna().sum()
# df[['brand', 'model', 'year_e', 'transmission_type', 'price_in_euro']].corr(numeric_only=False)
# df[['brand', 'model']].corr(numeric_only=True)
# df.loc[df.price_in_euro == 'alfa-romeo']
# df.dtypes

dfo.mileage_in_km.value_counts()
# dfo.mileage_in_km.isna().sum()

mileage_in_km
10.0        6982
50.0        1533
15.0        1216
20.0        1208
5.0         1107
            ...
91946.0        1
169954.0       1
146969.0       1
189217.0       1
1229.0         1
Name: count, Length: 71766, dtype: int64

### Data Cleansing

In [4]:
df = (dfo.assign(year_e = pd.to_numeric(dfo.year, errors='coerce'))
      
)
# suppress records with invalid year 
df = df.loc[~((df.year_e.isna()) | (df.year_e > 2023)) ]
df = df.assign(years_in_service = 2023-df.year_e).\
        assign(price_in_euro = pd.to_numeric(dfo.price_in_euro, errors='coerce'))

In [6]:
df.dtypes

brand                        object
model                        object
color                        object
registration_date            object
year                         object
price_in_euro               float64
power_kw                     object
power_ps                     object
transmission_type            object
fuel_type                    object
fuel_consumption_l_100km     object
fuel_consumption_g_km        object
mileage_in_km               float64
offer_description            object
year_e                      float64
years_in_service            float64
dtype: object

In [8]:
# dfo [~dfo[['price_in_euro', 'year']].applymap(np.isreal).all(1)]
def check_non_numeric(s:pd.Series):
    
    idx = pd.to_numeric(s, errors='coerce').isna()
    return idx  # return index of non numeric

In [10]:
# x = check_non_numeric(dfo.price_in_euro)
# dfo.price_in_euro[check_non_numeric(dfo.price_in_euro)]

# y = check_non_numeric(dfo.year)
# dfo.year[y]

x = dfo.mileage_in_km[check_non_numeric(dfo.mileage_in_km)]

In [12]:
x.value_counts()

Series([], Name: count, dtype: int64)

### Working

In [41]:
# dfo.head()
# dfo.brand.value_counts()
# dfo[['year', 'registration_date']].head()
# df = dfo.assign(year_e = pd.to_numeric(dfo.year, errors='coerce'))
# df = dfo.assign(years_in_service = 2023-pd.to_numeric(dfo.year, errors='coerce'))
# dfo.year.astype(int, errors='ignore') - 2023
df[['brand', 'year_e', 'price_in_euro']].groupby(['brand', 'year_e']).mean()
# 2023 - dfo.year.astype(int, errors='ignore')
# df.head()
# df.years_on_service
# df.years_in_service = 2023 - df.years_in_service
# df = df.loc[df.years_in_service >= 0]
# df[['year', 'year_e']].value_counts()
# df[['year']].value_counts()

                   price_in_euro
brand      year_e
alfa-romeo 1995.0    9250.000000
           1996.0    7456.000000
           1997.0   13426.235294
           1998.0    5019.714286
           1999.0    5475.937500
...                          ...
volvo      2019.0   34790.951932
           2020.0   41352.417832
           2021.0   47843.649616
           2022.0   53252.604278
           2023.0   60842.702290

[968 rows x 1 columns]

In [35]:
# pd.to_numeric(dfo.year, errors='coerce').value_counts()
pd.to_numeric(df.price_in_euro, errors='raise').value_counts().sort_index()